#contato{
    flex-flow: column;
    
    gap: 100px;
}

#contatoDiv{
    width: 100%;
    gap: 40px;
}

.contatos{
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;

    font-size: medium;
    font-weight: bold;

    /* background-color: aqua; */
}

.telefone{
    flex-flow: column;
    align-items: flex-start;
    gap: 5px;
}

#whatsapp{
    padding: 4px 5px;
    
    cursor: pointer;
    background-color: green;
    border-radius: 12px;
}

#wpp{
    
    flex-flow: row;
    gap: 3px;
}