:root{
    --themeColor: rgba(11, 11, 85, .8);
    --fontSize: 18px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Exo", Arial; */
    font-family: 'Orbitron', Arial;
    font-size: var(--fontSize);
}

body, html{
    width: 100%;
    height: 100%;

    color: white;
    background-color: black;
    
}

.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.index{
    position: relative;
    z-index: 2;
}

.background{
    background-image: url("../images/estrelas.png");
    /* background-size: 100% 100%; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.divisor{
    padding: 30px;
    background-color: var(--themeColor);

    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    position: relative;
    z-index: 2;
}

.defaultSection{
    width: 100%;
    padding: 50px;
}

/* HOME BUTTON */
#homeButton{
    --diameter: 40px;
    --buttonSpace: 40px;

    width: var(--diameter);
    height: var(--diameter);

    background-color: aliceblue;

    position: fixed;
    bottom: var(--buttonSpace);
    right: var(--buttonSpace);
    z-index: 5;

    box-shadow:
        0 0 30px 1px white,
        0 0 35px 1px rgb(146, 162, 235),
        0 0 40px 1px rgb(75, 255, 255);

    border-radius: 50%;

    cursor: pointer;
}

#homeButton > ion-icon{
    color: black;
}


/* SCROLL BAR */

::-webkit-scrollbar {
    width: 8px;
    /* display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; */
}
  
::-webkit-scrollbar-track {
    background: rgb(0, 0, 46);
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
}


/* ESTRELA TESTE */
.star{
    --starDiameter: 3px;

    width: var(--starDiameter);
    height: var(--starDiameter);

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 20px;
    left: 20px;

    background-color: azure;

    box-shadow:
        0 0 5px 1px white,
        0 0 8px 1px rgb(146, 162, 235),
        0 0 10px 1px rgb(75, 255, 255);

    border-radius: 50%;
}

