#home{
    height: 100%;
    background-image: url("../images/estrelas.png");
}

#astronauta{
    width: 180px;
    height: 350px;
    background-image: url("../images/astronauta.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    position: absolute;
    bottom: 0;
    z-index: 1;
}

#orion{

    padding: 5px;

    flex-flow: row;
    gap: 5px;
    
    position: absolute;
    top: 30%;           
   
}

#orion > #orionTitle{
    font-size: 60px;
    letter-spacing: 5px;
}

#sun{
    --sunDiameter: 400px;
    width: var(--sunDiameter);
    height: var(--sunDiameter);

    border-radius: 50%;
    background-color: white;

    box-shadow:
        0 0 60px 30px white,
        0 0 100px 60px rgb(146, 162, 235),
        0 0 140px 70px rgb(75, 255, 255);

    position: absolute;
    bottom: calc( (var(--sunDiameter) / -2 ) );
}
