@media only screen and (max-width: 1000px) {


    /* NOSSOS SERVICOS */
    

    /* GESTAO */
    #gestaoText > .text{
        width: 100%;
    }

    /* NOSSOS SERVIÇOS */
    

    /* VIRTUALIZAÇÂO */
    .virtualizacaoUL{
        padding: 0;
    }

}


@media only screen and (max-width: 900px) {
    /* QUEM SOMOS */
    .card{
        width: 450px;
        height: auto;
        cursor: pointer;
    }

    /* .card > h3::before {
        content: "";
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid white;
        position: relative;
        top: 15px;
        left: -10px;
        animation: gobackCard 2s ease-in-out infinite;
    }

    .card > h3::after {
        content: "";
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid white;
        position: relative;
        top: 15px;
        right: -10px;
        animation: gobackCard 2s ease-in-out infinite;
    }

    @keyframes gobackCard {
        0% {
            top: 15px;
        }
        50% {
            top: 20px;
        }
        100%{
            top: 15px;
        }
    } */

    
    /* .card > p{
        display: none;
        text-align: center;
    } */

    /* .card > ul{
        display: none;
    } */

    /* GESTAO */
    
    #gestaoText {
        text-align: center;
        /* height: auto; */
    }

    #gestaoText .text{
        height: auto;
    }

    #gestaoText > .text > div{
        width: 100%;
        cursor: pointer;
    }

    #gestaoText > .text > div:hover{
        color: blue;
    }

    #gestaoText > .text > div::after {
        content: "";
        --size: 10px;
        border-left: var(--size) solid transparent;
        border-right: var(--size) solid transparent;
        border-top: var(--size) solid #a4c2f4;
        position: relative;
        bottom: 10px;

        animation: goback 2s ease-in-out infinite;
    }    
    
    @keyframes goback {
        0% {
            bottom: 10px;
        }
        50% {
            bottom: 15px;
        }
        100%{
            bottom: 10px;
        }
    }

    #gestaoText > .text > ul{
        display: none;
    }

    #gestaoText > .text > ul > li{
        list-style: none;
    }



    /* VIRTUALIZAÇÂO */
    #virtualizacao{
        text-align: center;
    }

    .virtualizacaoUL > ul{
        width: 100%;
    }

    .virtualizacaoUL > ul > li{
        list-style: none;
    }

    /* SUPORTE */
    #suporte{
        text-align: center;
    }

    #suporte > ul > li{
        list-style: none;
    }


    /* SLIDER */
    :root{
        --sliderSize: 600px;
    }

    /* NOSSOS SERVIÇOS */
    

    /* CONTATO */
    .contatos{
        width: 100%;
        flex-flow: row wrap;
        justify-content: center;
        gap: 50px;
        text-align: center;
    }

    /* FOOTER */
 
    #footer > p{
        font-size: 10px;
        width: 100%;
    }

    
}



@media only screen and (max-width: 700px) {

    /* DEFAULT */
    .defaultSection{
        padding: 30px;
    }

    /* SLIDER */
    :root{
        --sliderSize: 500px;
    }

    #emailContent > form > textarea,
    #emailContent > form > input,
    #emailContent > form > p{
        width: 100%;
    }

}

@media only screen and (max-width: 600px) {
    /* DEFAULT */
    .defaultSection{
        padding: 20px 5px;
    }

    .divisor{
        padding: 20px;
        font-size: 30px;
    }

    /* NOSSOS SERVICOS */
    .cardS{
        width: 80%;
    }
    

    /* SHOWCARD */
    #cardShow{
        padding: 20px 10px;
    }

    #cardShowContent{
        padding: 10px;
        gap: 30px;
    }

    #cardShowBtn{
        padding: 15px;
    }

    /* CLIENTES */
    .clientesIcon{
        width: 200px;
        height: 200px;
    }
}


@media only screen and (max-width: 500px) {
    /* SLIDER */
    :root{
        --sliderSize: 300px;
    }

    /* HOME */
    #orion{
        --orionDim: 240px;
    }

    /* CLIENTES */
    .clientesIcon{
        width: 150px;
        height: 150px;
    }
}


@media only screen and (max-width: 400px) {
    /* DEFAULT */
    .divisor{
        padding: 15px 10px;
        font-size: 25px;
    }

    /* HOME */
    #sun{
        --sunDiameter: 250px;
    }

    /* SHOWCARD */
    #cardShowBtn{
        padding: 8px;
    }
    
    /* SLIDER */
    :root{
        --sliderSize: 250px;
    }

    /* VIRTUALIZAÇÂO */
    .virtualizacaoIMG > img{
        width: 100px;
        height: 100px;
    
    }

    /* CLIENTES */
    .clientesIcon{
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 340px) {
    #orion > #orionTitle{
        font-size: 30px;
    }

    

    #contatoDiv > iframe{
        width: 200px;
    }
}







/* ====================================== */
/* HEIGHT */
/* ====================================== */
@media only screen and (max-height: 1400px) and (min-height: 700px) {

    /* HOME */
    #home{
        height: 700px;
    }

    #orion{
        top: 100px;
    }

    #astronauta{
        top: 300px;
    }

    #sun{
        position: relative;
        bottom: -400px;
    }

}


@media only screen and (max-height: 700px) {

    /* HOME */
    #orion{
        top: 20%;
    }
}

@media only screen and (max-height: 600px) {

    /* HOME */
    #orion{
        top: 10%;
        --orionDim: 240px;
    }

    #astronauta{
        height: 280px;
    }
}

@media only screen and (max-height: 400px) {

    #astronauta{
        width: 150px;
        height: 200px;
    }
}