@media only screen and (max-width: 1200px) {

    /* CONTATO */
    #fotoEquipe{
        width: 100%;
        height: 300px;
    }
}

@media only screen and (max-width: 1000px) {

    /* GESTAO */
    #gestaoText > .text{
        width: 100%;
    }

    /* SERVIÇOS */
    .cardServicos{
        width: 350px;
    }

    /* VIRTUALIZAÇÂO */
    .virtualizacaoUL{
        padding: 0;
    }

    .cardServicos > .servicosIMG{
        width: 200px;
        height: 200px;
    }

    .cardServicos > .textServicos{
        width: 100%;
        
    }


    /* CONTATO */
    #fotoEquipe{
        height: 200px;
    }

    #equipe{
        bottom: -80px;
    }
}


@media only screen and (max-width: 900px) {
    /* QUEM SOMOS */
    .card{
        width: 450px;
        text-align: center;
        cursor: pointer;
    }

    .card > h3::before {
        content: "";
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid white;
        position: relative;
        top: 15px;
        left: -10px;
    }

    .card > h3::after {
        content: "";
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid white;
        position: relative;
        top: 15px;
        right: -10px;
    }



    .card > p{
        display: none;
    }

    /* GESTAO */
    
    #gestaoText {
        text-align: center;
    }

    #gestaoText > .text > h3{
        width: 100%;
    }

    #gestaoText > .text > ul > li{
        list-style: none;
    }



    /* VIRTUALIZAÇÂO */
    #virtualizacao{
        text-align: center;
    }

    .virtualizacaoUL > ul{
        width: 100%;
    }

    .virtualizacaoUL > ul > li{
        list-style: none;
    }

    /* SUPORTE */
    #suporte{
        text-align: center;
    }

    #suporte > ul > li{
        list-style: none;
    }


    /* SLIDER */
    :root{
        --sliderSize: 600px;
    }

    /* SERVIÇOS */
    .cardServicos{
        width: 80%;
        text-align: center;
    }

    /* CONTATO */
    .contatos{
        width: 100%;
        flex-flow: row wrap;
        justify-content: center;
        gap: 50px;
        text-align: center;
    }

    /* FOOTER */
 
    #footer > p{
        font-size: 10px;
        width: 100%;
    }
}



@media only screen and (max-width: 700px) {

    /* DEFAULT */
    .defaultSection{
        padding: 30px;
    }

    /* SLIDER */
    :root{
        --sliderSize: 500px;
    }

    /* CONTATO */
    #fotoEquipe{
        height: 150px;
    }

    #equipe{
        bottom: -50px;
    }
}

@media only screen and (max-width: 600px) {
    /* DEFAULT */
    .defaultSection{
        padding: 20px 5px;
    }

    .divisor{
        padding: 20px;
        font-size: 30px;
    }


    /* GESTAO */
    #gestaoText > .text{
        width: 100%;
    }

    #gestaoText > .text > h3{
        width: 100%;
        padding: 10px;
    }

    #suporte > ul{
        width: 100%;    
    }
    

    /* SLIDER */
    :root{
        --sliderSize: 400px;
    }


    /* CLIENTES */
    .clientesIcon{
        width: 200px;
        height: 200px;
    }
}


@media only screen and (max-width: 500px) {
    /* SLIDER */
    :root{
        --sliderSize: 300px;
    }

    /* CLIENTES */
    .clientesIcon{
        width: 150px;
        height: 150px;
    }
}


@media only screen and (max-width: 400px) {
    /* DEFAULT */
    .divisor{
        padding: 20px 10px;
        font-size: 25px;
    }
    
    /* SLIDER */
    :root{
        --sliderSize: 300px;
    }

    /* VIRTUALIZAÇÂO */
    .virtualizacaoIMG > img{
        width: 100px;
        height: 100px;
    
    }

    /* CLIENTES */
    .clientesIcon{
        width: 150px;
        height: 150px;
    }
}









/* ====================================== */
/* HEIGHT */
/* ====================================== */
@media only screen and (max-height: 1400px) and (min-height: 700px) {

    /* HOME */
    #home{
        height: 700px;
    }

    #orion{
        top: 100px;
    }

    #astronauta{
        top: 300px;
    }

    #sun{
        position: relative;
        bottom: -400px;
    }

}


@media only screen and (max-height: 700px) {

    /* HOME */
    #orion{
        top: 20%;
    }
}

@media only screen and (max-height: 600px) {

    /* HOME */
    #orion{
        top: 10%;
    }
}
