#quemSomos{
    gap: 30px;
    font-size: var(--fontSize);
}

.card{
    width: 350px;
    height: 400px;
    padding: 30px 0;
    
    align-items: flex-start;
    background: linear-gradient( 290deg, rgba(0, 0, 0, .6),  rgba(100, 100, 100, .6) );

    border: 1px solid white;
    border-radius: 20px;
}

.card > h3{
    width: 85%;
    padding-bottom: 20px;
    
    font-family: 'Audiowide', 'Arial';
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;

    border-bottom: 1px solid;
    border-image: linear-gradient(to right, white,blue) 1;
}

.card > p{
    height: 100%;
    padding: 30px;
    letter-spacing: 2px;
    line-height: 30px;
    text-align: center;
}

.card > ul{
    height: 100%;
    padding: 30px;
    letter-spacing: 2px;
    line-height: 30px;
}