:root{
    --sliderSize: 700px;
}

.slider{
    width:var(--sliderSize);
    justify-content: flex-start;
    overflow: hidden;
}


.slides{
    display: flex;
    flex-flow: row;    
}

.slide{
    transition: 0.5s;
}

.slide img{
    width: var(--sliderSize);
}
.slides input{
    display: none;
}

.manual-navigation{
    width: 100%;
    gap: 30px; 
}

.manual-btn{
    padding: 10px;
    
    cursor: pointer;
    transition: 0.5s;
    background-color: white;

    border-radius: 10px;
    border: 2px solid white;
}

.manual-btn:hover{
    background-color: var(--themeColor);
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: calc( -1* var(--sliderSize)) ;
}
#radio3:checked ~ .first{
    margin-left: calc( -2* var(--sliderSize)) ;;
}

.btn{
    position: relative;
    padding: 5px;

    cursor: pointer;
    background-color: aliceblue;

    border: 1px solid black;
    border-radius: 50%;
}

.prev{
    
    /* top: 0; */
    left: 0;
}

.next{
    position: relative;
    /* bottom: -50%; */
    right: 0;
}

