.virtualizacaoIMG{
    width: 100%;
    height: 200px;

    background-color: aliceblue;
}

.virtualizacaoIMG > img{
    width: 100px;
    height: 100px;

}

.virtualizacaoUL{
    font-size: 20px;
    padding: 30px;
}

.virtualizacaoUL > ul{
    width: 80%;
}

.virtualizacaoUL > ul > li{
    margin: 20px;
}

