.virtualizacaoIMG{
    width: 100%;
    height: 200px;
    gap: 50px;

    /* background-color: aliceblue; */
}

.virtualizacaoIMG > img{
    width: 150px;
    height: 150px;

}

.virtualizacaoUL{
    font-size: 20px;
    padding: 30px;
}

.virtualizacaoUL > ul{
    width: 80%;
}

.virtualizacaoUL > ul > li{
    margin: 20px;
}

